*.jl.*.cov
*.jl.cov
*.jl.mem

docs/Manifest.toml
test/Manifest.toml

# generated docs
docs/build

# asedftk artifacts
*dftk.json
*dftk.log
*dftk.checkpoint.jld2
*dftk.scfres.jld2

# Directory used for storing artifacts from examples
artifacts/