*.jl.*.cov
*.jl.cov
*.jl.mem

LocalPreferences.toml
Manifest.toml

# generated docs
docs/build/
docs/src/generated/

# dftk artifacts
dftk.json
dftk.log
dftk.checkpoint.jld2
dftk.scfres.jld2

# Directory used for storing artifacts from examples
artifacts/
